{% extends "testdb/base.html" %}
{% block content %}

<style type="text/css">
	@media screen and (max-width: 800px){
  p { display: inline; }
}
</style>
  <title>About us</title>
    <p style="font-family: time new ramone; font-size: 19px; text-align: justify; margin : 0; margin-left: 130px; margin-top: 60px; width: 115%;">The Iraqi Seismic Observatory (ISO) was initiated by Haydar Al-Shukri and Hanan Mahdi of the University of Arkansas at Little Rock (UA Little Rock) in a collaboration with Lawrence Livermore National Lab (LLNL). The project was initially supported by funding from the National Science Foundation, US DoE, and UA Little Rock. The project included the installation of broadband seismic stations, training, and capacity building for research and infrastructure.
The Seismological Laboratory of University of Basrah (SLUB) was established in 2014 at the Department of Geology, College of Science, University of Basra. SLUB is the data center of the ISO that includes 12 permanent broadband seismic stations. The team consists of researchers from the Universities of Arkansas at Little Rock, Basrah, Baghdad, Sumer, Anabar, Duhok, and, Sulaymaniyah. 
</p>
{% endblock content %}