{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/9f/ad/02/9fad02e4d884d3e45c6f747a10423194.png" sizes="16×16" type="image/x-icon">  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'testdb/main.css' %}">


</head>
<body>
<style type="text/css">
  @media (max-width:885px) {
  img#optionalstuff {
    display: none;
  }
  .n{
    padding: 20px;
  }
}
</style>
<div class="general">
  <div class="n" style="text-align: center; margin-bottom: -5px; font-family: Times New Roman; position: relative; color: white; text-shadow: 2px 2px 4px #000000;"><strong style="font-size:2.1vw;">Mesopotamian Seismological Center<br><span style="font-size: 2vw; color: white; text-shadow: 2px 2px 4px #000000; position: relative;">University of Basrah - Iraq</span></strong></div>
  <img id="optionalstuff" src="https://i.pinimg.com/originals/9f/ad/02/9fad02e4d884d3e45c6f747a10423194.png" width="6.5%" height="6.5%" style="margin:-80px 0 10px 230px;">
  <div class="nav1">
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div style="margin-left: 70px; font-family: Times New Roman;" class="navbar-nav mr-auto">
            {% with url_name=request.resolver_match.url_name %}
              <a class="nav-item nav-link {% if url_name == 'testdb-home' %}active{% endif %}" href="{% url 'testdb-home' %}">Home</a>
              <a class="nav-item nav-link {% if url_name == 'search' %}active{% endif %}" href="{% url 'search' %}">Bulletin Search</a>
              <a class="nav-item nav-link {% if url_name == 'focal' %}active{% endif %}" href="{% url 'focal' %}">Focal Mechanism</a>
              <a class="nav-item nav-link {% if url_name == 'testdb-seismic' %}active{% endif %}" href="{% url 'testdb-seismic' %}">Seismic Network and Stations</a>
              <a class="nav-item nav-link {% if url_name == 'report' %}active{% endif %}" href="{% url 'report' %}">Reports</a>
              <a class="nav-item nav-link {% if url_name == 'testdb-about' %}active{% endif %}" href="{% url 'testdb-about' %}">About us</a>
              <a class="nav-item nav-link {% if url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
            {% endwith %}
            </div>  
          </div>
        </div>
      </nav>
    </header>
  </div>          
</div>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>